.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tilesContainer {
  display: inline-block;
  background-color:  ghostwhite;
  width: 70%;
  position: absolute;
  left: 0;
}

.shortlistContainer {
  display: inline-block;
  position: fixed;
  right: 0;
  width: 20%;
  background-color: beige;
  font-size: large;
  border: 2px solid black;
}

.shortlistProduct {
  padding: 10px;
  border-top: 1px dashed black;
}

.cartImage {
  width: 50px;
  vertical-align: middle;
}

.cartHeading {
  display: inline-block;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
